# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
**/build
**/.gradle

# other
eclipse
run/
run-data/
other/
logs/

# Files from Forge MDK
forge*changelog.txt


# work files
/code-review*
