# IntelliJ
/out/
*.ipr
*.iws
*.iml
/.idea/

# VS Code
/.vscode/

# Gradle
**/build/
**/.gradle/
**/src/generated/resources/.cache/

# Forge/Minecraft runtime
**/run/
**/run-data/
/logs/
/crash-reports/

# other
/review-*.md
